<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecurePass Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="hero">

    <div class="hero-card">

        <img src="{{ url_for('static', filename='image/logo.png') }}" class="logo">

        <h1>SecurePass Analyzer</h1>
        <p>Advanced Password Strength & Security Analysis Platform</p>

        <a href="/dashboard" class="btn">Start Analysis</a>

    </div>

</div>

</body>
</html>


